@{
    Layout = "_LayoutManagement";
}

<h2>Discounted sales</h2>
<hr/>
<a asp-action="NewDiscountedSale" asp-controller="Management" class="btn btn-success">
    Create new discounted sale
</a>
<hr/>
