@model generic_market_csharp.Models.DTO.ProductDTO;

@{
    Layout = "_LayoutManagement";
}

<h2>Editar produto</h2>
<hr/>
<form class="form-horizontal" asp-controller="Product" asp-action="Update" method="POST">
    <input type="hidden" asp-for="Id">
    <label asp-for="Name">Nome</label>
    <input type="text" asp-for="Name" class="form-control" placeholder="Nome do produto">
    <span asp-validation-for="Name"></span><br>
    <label asp-for="CategoryID">Categoria</label>
    <select class="form-control" asp-for="CategoryID" asp-items='@(new SelectList(@ViewBag.Categories, "Id", "Name"))'></select>
    <span asp-validation-for="CategoryID"></span><br>
    <label asp-for="SupplierID">Fornecedor</label>
    <select class="form-control" asp-for="SupplierID" asp-items='@(new SelectList(@ViewBag.Suppliers, "Id", "Name"))'></select>
    <span asp-validation-for="SupplierID"></span><br>
    <label asp-for="PurchasePrice">Preço de compra</label>
    <input type="number" step="any" asp-for="PurchasePrice" class="form-control" placeholder="0.00">
    <span asp-validation-for="PurchasePrice"></span><br>
    <label asp-for="SalePrice">Preço de venda</label>
    <input type="number" step="any" asp-for="SalePrice" class="form-control" placeholder="0.00">
    <span asp-validation-for="SalePrice"></span><br>
    <label asp-for="MeasurementType">Tipo de medição</label>
    <select class="form-control" asp-for="MeasurementType">
        <option value="1">Litro</option>
        <option value="2">Quilo</option>
        <option value="3">Unidade</option>
    </select>
    <span asp-validation-for="MeasurementType"></span><br>
    <button class="btn btn-success">Atualizar</button>
</form>
<hr/>