@model generic_market_csharp.Models.DTO.SupplierDTO;

@{
    Layout = "_LayoutManagement";
}

<h2>New supplier</h2>
<hr/>
<form class="form-horizontal" asp-controller="Supplier" asp-action="Save" method="POST">
    <input type="hidden" asp-for="Id" value="0">
    <label asp-for="Name">Name</label>
    <input type="text" asp-for="Name" class="form-control" placeholder="Supplier name">
    <span asp-validation-for="Name"></span><br>
    <label asp-for="Email">Email</label>
    <input type="email" asp-for="Email" class="form-control" placeholder="Supplier email">
    <span asp-validation-for="Email"></span><br>
    <label asp-for="Phone">Phone</label>
    <input type="text" asp-for="Phone" class="form-control" placeholder="00 0 0000-0000">
    <span asp-validation-for="Phone"></span><br>
    <button class="btn btn-success">Register </button>
</form>
<hr/>